{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Via a smart phone, or similar device, you will be able to:</p>
        <ul>
            <li>Maintain your details</li>
            <li>Register for training activities</li>
            <li>Access and download evidence of training to demonstrate CPD</li>
        </ul>
        <p></p>
        <p>Follow this link to learn more about <a href="https://interplast.org.au" target="_blank">Interplast</a> and what we do.</p>
    </div>
</div>

{% endblock %}
